<!DOCTYPE html>
<html lang="en">

<head>
  <title>Menu</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
<!--   <link rel="stylesheet" href="/styles/test.css" type="text/css" /> -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<body>
  <div id="purchase_box">
    <form action="/order" method="POST">
      <h1> Order Input Area</h1>
      <div>
        <div>
          <img src="images/burger.jpg" height="70" width="70">
        </div>
          <div>
            <div>
              <input type="text">
            </div>
            <h3>Item 1</h3>
          </div>
        </div>
        <div>
          <div>
            <img src="images/fish.jpg" height="70" width="70">
        </div>
            <div>
              <input type="text">
            </div>
            <h3>Item 2</h3>
          </div>
          <div>
            <div>
              <img src="images/pasta.jpg" height="70" width="70">
        </div>
              <div>
                <input type="text">
              </div>
              <h3>Item 3</h3>
            </div>
            <div id="testObject">
              <h1>Test Object</h1>
            </div>
            <br>
            <br>
            <div id="input_details_box">
              Your Name <input type="text" name="customer_name" value="Your Name"><br>
              Phone Number <input type="text" name="phone_number" value="Input phone #"><br>
              <input type="submit" value="Submit">
            </div>
    </form>
  </div>
  <br>
  <br>
  <div id="basket_confirmation_box">
    <form action="/confirm" method="POST">
      <h1>Basket Area </h1>
      <button>Confirm Order</button>
    </form>
  </div>


  <p>
<a href="#" class = "btn btn-default btn-lg" role="button">More info</a>
<button type="submit" class = "btn btn-danger" role = "button">Button</button>
<input type="button" value="Info" class = "btn btn-info">
<button type="submit" class = "btn-primary btn-sm">Primary</button>
<button type="submit" class = "btn btn-success btn-xs">Success</button>
<button type="submit" class = "btn btn-warning btn-lg">Warning</button>
<button type="submit" class = "btn btn-link btn-lg">Link</button>

<div class="btn-group btn-group-lg" role="group" aria-label="...">
  <button type="button" class="btn btn-default">Small</button>
  <button type="button" class="btn btn-default">Medium</button>
  <button type="button" class="btn btn-default">Large</button>
</div>

</p>







  <h1> is this working</h1>
  <h2> restaurant Menu </h2>
  <div>
    <% for (foodItem of menu) {%>
    <li>
      <%= foodItem.name %>
    </li>
    <li>
      <%= foodItem.price %>
    </li>
    <% } %>
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>

</html>
