<!DOCTYPE html>

<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <title>Menu</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <link rel="stylesheet" href="/styles/restaurant_sum_layout.css" type="text/css" />
  <!--   <link rel="stylesheet" href="/styles/test.css" type="text/css" /> -->

  <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

<div class="main_container">
  <p class="summary_text text-center font-weight-bold">Orders Summary </p>

  <div class="jumbo_container">

    <% for (let i = 0; i < orders.length; i++) {%>
      <div class="jumbo_individual_container">
        <div class="jumbotron">
          <div class="container">
            <h1 class="display-4">Order #1</h1>
            <p class="lead">XYZ Order
              <li>
                Order#: <%= orders[i]['orderid']%> Item: <%= orders[i]['name'] %> Quantity: <%= orders[i]['food_quantity'] %>

              </li>
            </p>
            <button type="button" class="btn btn-danger">Delete Order</button>
          </div>
        </div>
      </div>

    <% } %>

  </div>
</div>






<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>
