<!DOCTYPE html>
<html>
<head>
  <title>RESTAURANT NAME! LOGIN</title>
</head>
<body>

  <h1>Restaurant Login</h1>
  <form action="/restaurant" method="POST">
    Username: <input type="text" name="r_username" placeholder="Username"><br>
    Password: <input type="text" name="r_pwd"><br>
    <button>LOGIN</button>
  </form>

</body>
</html>
