body {
  background-color: #EEE;

  h1 {
    /*color: #244751;*/
  }
}

#purchase_box {
  border: solid;
}

#basket_confirmation_box {
  border: solid;
}

.carousel {
  width:640px;
  height:360px;
}

.page_container {
  border: solid;
  border-color: red;
  display: flex;
  justify-content: center;
}

.all_items_container {
  display: flex;
  flex-direction: column;
}

.jumbotron {
  border: solid;
  display: flex;
  flex-direction: column;
  background-color: #FFCF9B!important;
  border-radius: 7px;
}

h1.display-4 {
  /*border: solid;*/
  text-align: center;
}

p.lead{
 /* border: solid;*/
  text-align: center;
}

.below_photo_container {
 /* border: solid;*/
  text-align: center;
}

.carousel_container {
 /* border: solid;*/
  display: flex;
  justify-content: center;
}

.menu_container {
  border: solid;
  border-radius: 5px;
  background-color: #FFCF9B
}

.food_object_overall_container {
  display: flex;
  justify-content: center;
}

.food_object_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 /* flex-direction: column;*/
  width: 800px;
  border: solid;
  background-color: white;
  border-radius: 7px;
}

.card {
  margin: 20px;
  border: solid;
  border-width: 10px!important;
}

#basket {
  border: solid;
  border-color: red;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
}

#food_cart_container {
  border: solid;
  border-color: yellow;
  display: flex;
  justify-content: center;
}

#food_cart {
  border: solid;
  border-color: blue;
  display: flex;
  flex-direction: column;
}

#input_info_overall_container {
  display: flex;
  justify-content: center;
  border: solid;
  border-color: green;
}

#input_info_container {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
 /* border: dotted;*/
  width: 60%;
}

#food_submit_button {
  margin-left: 180px;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}
